@import url("../common-frontend/styles/base.css");
@import url("../common-frontend/styles/footer.css");
@import url("../common-frontend/styles/link-button.css");
@import url("../common-frontend/styles/typography.css");
@import url("../common-frontend/styles/layout.css");
@import url("../common-frontend/styles/alert.css");

.pronoun-container {
  border: solid 1px;
  border-color: var(--surface0);
  border-radius: 0.5rem;
  background-color: var(--mantle);
  padding: 0 2rem;
  text-align: center;
}
